.main {
  grid-area: main;
  border: 1px solid rgba(255, 0, 0, 1);
  background-color: rgba(255, 0, 0, 0.1)
}

.wrapper-main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr; 
  grid-template-areas:  'article'
                        'comment';
}