.App {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 50px 80px 1fr 50px;
  grid-template-areas:  'nav nav'
                        'header header' 
                        'main sidebar' 
                        'footer footer';
}